.form {
  text-align: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

.forma {
  margin-bottom: 50px;
}

.forma-input._error {
  border-bottom: 1px solid red;
}

/*Mobile*/
@media screen and (max-width: 768px) {
  .forma {
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
  }

  .forma-input {
    border: none;
    padding: 8px;

    font-size: 18px;

    border-bottom: 1px solid #2a2a2a;

    width: 100%;

    margin-bottom: 25px;

    cursor: pointer;
  }

  .forma-input:last-child {
    margin-bottom: 0px;
  }
}

/*Display PC*/
@media screen and (min-width: 769px) {
  .forma {
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
  }

  .forma-input {
    border: none;
    padding: 8px;

    font-size: 18px;

    border-bottom: 1px solid #2a2a2a;

    width: 100%;

    margin-bottom: 25px;

    cursor: pointer;
  }

  .forma-input:last-child {
    margin-bottom: 0px;
  }
}
