.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
}

.gallery .title {
  position: relative;
  text-align: center;
  text-transform: uppercase;

  font-size: 26px;
  font-weight: 700;

  margin-bottom: 50px;
}

.gallery .title::after {
  content: "";
  position: absolute;
  width: 150px;

  left: 44%;
  bottom: -20px;

  border: 1px solid var(--accent-color);
  border-radius: 2px;
}

/*Mobile*/
@media screen and (max-width: 768px) {
  .gallery .title::after {
    content: "";

    left: 26%;
  }

  .gallery {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .gallery .title {
    text-transform: none;
  }

  .gallery img {
    width: 315px;
  }

  .gallery-list .item {
    height: 250px;

    overflow: hidden;

    margin-bottom: 20px;
  }

  .gallery-list:last-child {
    margin-bottom: 0px;
  }

  .gallery-list .item {
    position: relative;
  }

  .gallery-label .text {
    color: var(--title-text-color);

    font-size: 22px;
    font-weight: 700;
  }

  .gallery-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;

    bottom: 0;

    padding: 5px;

    background-color: var(--primary-white-color);
  }

  .gallery-list .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

/*Display PC*/
@media screen and (min-width: 769px) {
  .gallery img {
    width: 450px;
    height: 300px;
  }

  .gallery .title {
    margin-bottom: 70px;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
  }

  .gallery-list .item {
    margin-right: 50px;
    margin-bottom: 50px;

    position: relative;
    overflow: hidden;

    height: 350px;
  }

  .gallery-list .item:last-child {
    margin-right: 0px;

    margin-bottom: 0px;
  }

  .gallery-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;

    bottom: 0;

    padding: 5px;

    background-color: var(--primary-white-color);
  }

  .gallery-list .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .gallery-label .text {
    font-size: 20px;

    font-weight: 700;
  }
}
