.principl {
  padding-bottom: 50px;
}

.principl .icon {
  width: 27px;
  height: 27px;

  margin-right: 20px;
}

.principl .title {
  text-align: center;
  text-transform: uppercase;

  font-size: 26px;
  font-weight: 700;

  margin-bottom: 30px;
}

.principl .list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and(min-width: 1200px) {
    margin-left: 35%;
  }
}

.principl-item {
  display: flex;

  align-items: center;

  margin-bottom: 15px;
}

.principl .text {
  font-size: 18px;
}
